  @font-face{
    font-family: personalFont;
    src: url(BarlowCondensed-Regular.woff);
  }

  body{
      background-image: url("hotelroombg.jpg");
      font-family: personalFont;
      text-align: center;
  }
  
  #a, #b, #c{
    display: inline-block;
  }
